version: "3.9"

x-airflow-common: &airflow-common
  build:
    context: .
    dockerfile: airflow/Dockerfile
  environment:
    AIRFLOW__CORE__EXECUTOR: LocalExecutor
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@airflow-db:5432/airflow
    AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: "false"
    GX_ANALYTICS_ENABLED: "False"
    MLFLOW_TRACKING_URI: "http://mlflow:5000"
    MLFLOW_S3_ENDPOINT_URL: "http://minio:9000"





    AIRFLOW__WEBSERVER__SECRET_KEY: "super-secret-airflow-key-123456"

    AIRFLOW__LOGGING__LOGGING_LEVEL: "INFO"


    S3_ENDPOINT: "http://minio:9000"
    AWS_ACCESS_KEY_ID: "minio"
    AWS_SECRET_ACCESS_KEY: "minio12345"

  volumes:
    - ./airflow/dags:/opt/airflow/dags
    - ./:/work
    - /var/run/docker.sock:/var/run/docker.sock
  networks:
    - kafka_network


services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    command:
      - postgres
      - -c
      - wal_level=logical
      - -c
      - max_replication_slots=10
      - -c
      - max_wal_senders=10
    networks:
      - kafka_network

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - kafka_network

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_INTERNAL://kafka:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT_INTERNAL
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_INTERNAL://0.0.0.0:29092
    networks:
      - kafka_network

  schema-registry:
    image: confluentinc/cp-schema-registry:7.5.0
    depends_on:
      - kafka
    ports:
      - "8081:8081"
    environment:
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: PLAINTEXT://kafka:29092
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
      SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8081
    networks:
      - kafka_network

  debezium:
    image: debezium/connect:2.5
    depends_on:
      - kafka
      - postgres
      - schema-registry
    ports:
      - "8083:8083"
    environment:
      BOOTSTRAP_SERVERS: kafka:29092
      GROUP_ID: debezium-group
      CONFIG_STORAGE_TOPIC: debezium_configs
      OFFSET_STORAGE_TOPIC: debezium_offsets
      STATUS_STORAGE_TOPIC: debezium_statuses
      KEY_CONVERTER: org.apache.kafka.connect.json.JsonConverter
      VALUE_CONVERTER: org.apache.kafka.connect.json.JsonConverter
      CONNECT_KEY_CONVERTER_SCHEMAS_ENABLE: "true"
      CONNECT_VALUE_CONVERTER_SCHEMAS_ENABLE: "true"
      CONNECT_REST_ADVERTISED_HOST_NAME: debezium
      CONNECT_CONFIG_STORAGE_REPLICATION_FACTOR: 1
      CONNECT_OFFSET_STORAGE_REPLICATION_FACTOR: 1
      CONNECT_STATUS_STORAGE_REPLICATION_FACTOR: 1
    networks:
      - kafka_network

  minio:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio12345
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    networks:
      - kafka_network

  spark-master:
    image: apache/spark:3.5.1
    container_name: spark-master
    user: root
    command: >
      bash -c "
      mkdir -p /tmp/ivy/cache /tmp/ivy/jars &&
      chown -R spark:spark /tmp/ivy &&
      exec setpriv --reuid=spark --regid=spark --clear-groups
      /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
      "
    ports:
      - "7077:7077"
      - "8080:8080"
    volumes:
      - ./:/work
      - spark_ivy:/tmp/ivy
    networks:
      - kafka_network

  spark-worker:
    image: apache/spark:3.5.1
    depends_on:
      - spark-master
    command: >
      bash -c "
      mkdir -p /tmp/ivy/cache /tmp/ivy/jars &&
      exec /opt/spark/bin/spark-class
      org.apache.spark.deploy.worker.Worker spark://spark-master:7077
      "
    ports:
      - "8084:8081"
    volumes:
      - ./:/work
      - spark_ivy:/tmp/ivy
    networks:
      - kafka_network

  airflow-db:
    image: postgres:16
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - airflow_db:/var/lib/postgresql/data
    networks:
      - kafka_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U airflow -d airflow"]
      interval: 5s
      timeout: 5s
      retries: 20

  airflow-init:
    <<: *airflow-common
    depends_on:
      airflow-db:
        condition: service_healthy
    entrypoint: /bin/bash
    command: >
      -c "
      airflow db migrate &&
      airflow users create
      --username admin
      --password admin
      --firstname admin
      --lastname admin
      --role Admin
      --email admin@example.com
      "

  airflow-webserver:
    <<: *airflow-common
    depends_on:
      airflow-init:
        condition: service_completed_successfully
    ports:
      - "8088:8080"
    command: >
      bash -c "/work/airflow/bootstrap_ge.sh && airflow webserver"


  airflow-scheduler:
    <<: *airflow-common
    depends_on:
      airflow-init:
        condition: service_completed_successfully
    command: >
      bash -c "/work/airflow/bootstrap_ge.sh && airflow scheduler"


  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.14.2
    depends_on:
      - minio
    environment:
      MLFLOW_S3_ENDPOINT_URL: http://minio:9000
      AWS_ACCESS_KEY_ID: minio
      AWS_SECRET_ACCESS_KEY: minio12345
    command: >
      mlflow server
      --host 0.0.0.0
      --port 5000
      --backend-store-uri sqlite:////mlflow/mlflow.db
      --default-artifact-root s3://mlflow/
    ports:
      - "5001:5000"
    volumes:
      - mlflow_data:/mlflow
    networks:
      - kafka_network

volumes:
  pgdata:
  minio_data:
  spark_ivy:
  airflow_db:
  mlflow_data:

networks:
  kafka_network:
    driver: bridge
